<header class="bg-black"></header>
<div class="pure-g-r container margin-center"></div>
<div class="loading margin-center show"><img src="/images/loading-bubbles.svg" alt="loading"/></div>
<footer class="bg-black"></footer>
