Django==1.6.2
MySQL-python==1.2.5
Scrapy==0.22.2
South==0.8.4
Twisted==13.2.0
amqp==1.4.5
anyjson==0.3.3
argparse==1.2.1
astroid==1.1.0
billiard==3.3.0.17
celery==3.1.11
cffi==0.8.2
cryptography==0.4
cssselect==0.9.1
django-celery==3.1.10
django-cors-headers==0.12
django-picklefield==0.3.1
djangorestframework==2.3.13
enum34==1.0
guess-language==0.2
gunicorn==18.0
ipaddress==1.0.6
ipython==2.0.0
isort==3.8.0
kombu==3.0.15
logilab-common==0.61.0
lxml==3.3.5
natsort==3.2.0
pies==2.6.1
pies2overrides==2.6.1
polished==0.0.9
pyOpenSSL==0.14
pycallgraph==1.0.1
pycparser==2.10
pylint==1.2.0
pylint-django==0.3
pylint-plugin-utils==0.1.1
python-dateutil==2.2
pytz==2014.2
queuelib==1.1.1
selenium==2.41.0
six==1.6.1
uWSGI==2.0.4
w3lib==1.5
wsgiref==0.1.2
zope.interface==4.1.1
