/* center */

.text-center
    text-align center

.margin-center
    margin-left auto
    margin-right auto

.full-width
    width 100%

/* bar */
header, footer
    width 100%
    height 48px

header
    opacity .95

/* grid */
.container
    max-width 960px
    margin-top 48px

/* color */

.bg-black
    background-color #000

.bg-orange
    background-color #F60

.bg-pink
    background-color #F09

.bg-white-pink
    background-color #FCF
