<ul class='stat-title pure-u-1 text-center'>
  <li id="stat_total">数据总量:<span class="data"></span></li>
  <li id="scrapy_num">总抓取量:<span class="data"></span></li>
  <li id="stat_num">总分析量:<span class="data"></span></li>
</ul>
<canvas id="stat_line_chart" class='pure-u-1' height="450" width="960"></canvas>
